
@use "sass:selector";

@mixin unify-parent($child) {
  @at-root #{selector.unify(&, $child)} {
    @content;
  }
}

.van-btn {
  @apply relative flex items-center justify-center gap-8;

  &-teal {
    @include unify-parent(".van-btn-filled") {
      // default button
      &:not([disabled]) {
        // default state
        @apply bg-teal-700 text-neutral-25;
        //hover state
        @apply hover:bg-teal-600;
        //press state
        @apply active:bg-teal-800;
      }
    }

    // teal outlined button
    @include unify-parent(".van-btn-outlined") {
      &:not([disabled]) {
        // default state
        @apply text-teal-700 outline-teal-700;
        //hover state
        @apply hover:bg-teal-25 hover:text-teal-600 hover:outline-teal-600;
        //press state
        @apply active:bg-teal-100 active:text-teal-800 active:outline-teal-800;
      }
    }

    //teal inlined button
    @include unify-parent(".van-btn-inlined") {
      &:not([disabled]) {
        // default state
        @apply text-teal-700;
        //hover state
        @apply hover:bg-teal-25 hover:text-teal-600;
        //press state
        @apply active:bg-teal-100 active:text-teal-800;
      }
    }
  }

  &-red {
    @include unify-parent(".van-btn-filled") {
      // default button
      &:not([disabled]) {
        // default state
        @apply bg-red-500 text-neutral-25;
        //hover state
        @apply hover:bg-red-400;
        //press state
        @apply active:bg-red-600;
      }
    }

    // red outline button
    @include unify-parent(".van-btn-outlined") {
      &:not([disabled]) {
        // default state
        @apply text-red-500 outline-red-500;
        //hover state
        @apply hover:bg-red-50 hover:text-red-400 hover:outline-red-400;
        //press state
        @apply active:bg-red-100 active:bg-red-100 active:text-red-600  active:outline-red-600;
      }
    }

    //red text button
    @include unify-parent(".van-btn-inlined") {
      &:not([disabled]) {
        // default state
        @apply text-red-500;
        //hover state
        @apply hover:bg-red-50 hover:text-red-400;
        //press state
        @apply active:bg-red-100 active:text-red-600;
      }
    }
  }

  &-neutral {
    @include unify-parent(".van-btn-filled") {
      // default button
      &:not([disabled]) {
        // default state
        @apply bg-neutral-900 text-neutral-25;
        //hover state
        @apply hover:bg-neutral-800;
        //press state
        @apply active:bg-neutral-700;
      }
    }

    // neutral outlined button
    @include unify-parent(".van-btn-outlined") {
      &:not([disabled]) {
        // default state
        @apply text-neutral-900 outline-neutral-900;
        //hover state
        @apply hover:bg-neutral-50 hover:text-neutral-800 hover:outline-neutral-800;
        //press state
        @apply active:bg-neutral-100 active:bg-neutral-200 active:text-neutral-700  active:outline-neutral-700;
      }
    }

    //neutral text button
    @include unify-parent(".van-btn-inlined") {
      // default state
      @apply text-neutral-900;
      //hover state
      @apply hover:bg-neutral-50 hover:text-neutral-800;
      //press state
      @apply active:bg-neutral-100 active:text-neutral-700;
    }
  }

  &-white {
    @include unify-parent(".van-btn-filled") {
      // default button
      // default state
      @apply bg-neutral-50 text-neutral-900;
      //hover state
      @apply hover:bg-neutral-25;
      //press state
      @apply active:bg-neutral-200;
      //disabled
      @apply disabled:bg-neutral-300 disabled:text-neutral-500;
    }

    // white outlined button
    @include unify-parent(".van-btn-outlined") {
      // default state
      @apply text-neutral-50 outline-neutral-50;
      //hover state
      @apply hover:bg-neutral-800 hover:text-neutral-25 hover:outline-neutral-25;
      //press state
      @apply active:bg-neutral-700 active:text-neutral-200 active:outline-neutral-200;
      //disabled
      @apply disabled:text-neutral-700 disabled:outline-neutral-700;
    }

    //white inlined button
    @include unify-parent(".van-btn-inlined") {
      // default state
      @apply text-neutral-50;
      //hover state
      @apply hover:text-neutral-25;
      //press state
      @apply active:text-neutral-200;
      //disabled
      @apply disabled:text-neutral-700;
    }
  }

  &-outlined {
    // default state
    @apply outline;
    //disabled state
    @apply disabled:outline-neutral-400;

    @include unify-parent(".van-btn-small") {
    // default state
    @apply outline-[1.5px] outline-offset-[-1.5px];
    }

    @include unify-parent(".van-btn-medium") {
      // default state
      @apply outline-[1.5px] outline-offset-[-1.5px];
      }

      
    @include unify-parent(".van-btn-large") {
      @apply outline-[2px] -outline-offset-2;
    }
  }

  &-small {
    @apply px-8 text-button-12-semibold min-w-[80px] h-[28px];
    
    .van-icon{
      width: 14px;
      height: 14px;
      font-size: 10px; 
    }

    &.isIcon{
      width: 28px
    }
  }

  &-medium {
    // default state
    @apply px-12 text-button-14-semibold min-w-[96px] h-[40px];
    .van-icon{
      width: 16px;
      height: 16px;
      font-size: 11px; 
    }
    &.isIcon{
      width: 40px
    }
  }

  &-large {
    @apply px-16 text-button-16-semibold min-w-[120px] h-[48px];

    .van-icon{
      width: 20px;
      height: 20px;
      font-size: 14px; 
    }

    &.isIcon{
      width: 48px
    }
  }

  &.isIcon{
    min-width: unset;
  }

  // default diabled state
  &:not(.van-btn-outline, .van-btn-inlined) {
    @apply disabled:bg-neutral-100;
  }
  @apply disabled:pointer-events-none disabled:text-neutral-400;

  .van-icon{
    display: flex;
    justify-content: center;
    align-items: center;    
  }

  .loading{
    @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2
  }
}
