
@font-face {
    font-family: "yekan-faNum-regular";
    src: url("../assets/fonts/yekan-bakh/YekanBakhFaNum-Regular.ttf");
  }

  @font-face {
    font-family: "yekan-faNum-bold";
    src: url("../assets/fonts/yekan-bakh/YekanBakhFaNum-Bold.ttf");
  }

  @font-face {
    font-family: "yekan-bakh";
    src: url("../assets/fonts/yekan-bakh/YekanBakh-VF.ttf");
  }
